langchain
langchain-text-splitters
langchain-community
langchain-core
langchain-groq
streamlit
chromadb
geopandas
pandas
pandas-datareader
pandas-gbq
pandas-stubs
python-dotenv
sklearn-pandas
sqlite3
chromadb duckdb
