langchain-community==0.3.18
langchain-core==0.3.37
langchain-groq==0.2.4
streamlit==1.42.2
chromadb==0.6.3
geopandas==1.0.1
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.27.0
pandas-stubs==2.2.2.240909
python-dotenv==1.0.1
sklearn-pandas==2.2.0
pysqlite==2.8.3
pysqlite3==0.5.4
Python==3.12.8

